<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>{{zagolovok}}</h1>
    {%for person in data%}
    <p>name: {{person.name}}</p>
    <p>age: {{person.age}}</p>
    <p>fav game: {{person.game}}</p>
    <img src="{{url_for('static', filename=person.image)}}" alt="game">
    {%endfor%}
</body>
</html>